<mat-toolbar color="primary">
    <div>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a class="nav-link" routerLink="">KlusVoorJou</a>
    </div>
    <div>
        <ul class="navigation-items">
            <li>
                <a class="nav-link" routerLink="/job">Jobs</a>
            </li>
            <!-- <li>
                <a class="nav-link" routerLink="/job-progress">Job progress</a>
            </li> -->
        </ul>
    </div>
  </mat-toolbar>
